<!DOCTYPE html>
<html lang="en">
<head>
<title>Ukraine Updates</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn-icons-png.flaticon.com/512/197/197572.png" rel="icon" type="image/x-icon" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large" style="background-color:	#ffd700">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large" style="background-color:#ffd700;" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/trending" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Trending</a>
    <a href="/updates" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Updates</a>
    <a href="/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Posts</a>
    <a href="/help" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Help</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/trending" class="w3-bar-item w3-button w3-padding-large">Trending</a>
    <a href="/updates" class="w3-bar-item w3-button w3-padding-large">Updates</a>
    <a href="/posts" class="w3-bar-item w3-button w3-padding-large">Posts</a>
    <a href="/help" class="w3-bar-item w3-button w3-padding-large">Help</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px; background-color:#0057b7">
  <h1 class="w3-margin w3-jumbo" style="color:#ffd700">SLAVA UKRAINI</h1>
  <p class="w3-xlarge" style="color:aliceblue">Latest Updates</p>
  <a href="/updates"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">War Updates</button></a>
</header>

<!-- PAGE -->

<div class="w3-main" style="padding-left: 5%; padding-right: 5%; margin-top:43px;">
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Military</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>125,600</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Army</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-ship w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>15,000</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Navy</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-plane w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>35,000</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Air Force</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>16,000</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Volunteer forces</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Live Map</h5>
        <a href="https://ukrstream.tv/en/liveuamap"><img width="420" height="350" style="object-fit: cover; height: 280px" src="https://www.aljazeera.com/wp-content/uploads/2022/03/INTERACTIVE-Russia-Ukraine-map-Who-controls-what-in-Ukraine-DAY-{{day}}.png" title="Live Map" frameborder="0"></img>
          <p>Click to get Latest Update</p>
        </a>
      </div>
      <div class="w3-twothird">
        <h5>Russia's Loses</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-users w3-text-blue w3-large"></i></td>
            <td>Troops</td>
            <td><i>>11,000</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-rocket w3-text-red w3-large"></i></td>
            <td>MLRs</td>
            <td>50</td>
          </tr>
          <tr>
            <td><i class="fa fa-plane w3-text-yellow w3-large"></i></td>
            <td>Planes</td>
            <td>44</td>
          </tr>
          <tr>
            <td><i class="fa fa-ship w3-text-red w3-large"></i></td>
            <td>Boats</td>
            <td>2</td>
          </tr>
          <tr>
            <td><i class="fa fa-car w3-text-blue w3-large"></i></td>
            <td>Cars</td>
            <td>447</td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
            <td>Tanks</td>
            <td>285</td>
          </tr>
          <tr>
            <td><i class="fa fa-truck w3-text-green w3-large"></i></td>
            <td>Armed Personal Carriers</td>
            <td>985</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <!--div class="w3-container">
    <h5></h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div-->
  <hr>

  <div class="w3-container">
    <h4>Number of Refugees: <a style="color:#0057b7">{{refugees_num}}</a></h4>
    <p style="color:grey">Updated Daily</p>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      {% for element in migration_countries %}
      <tr>
        <td>{{element.0}}</td>
        <td>{{element.1}}</td>
      </tr>
      {% endfor %}
    </table><br>
  </div>
  <hr>
 
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h4 class="w3-margin w3-xlarge" style="color:greenyellow">Website Templates by w3Schools</h4>
    <p class="w3-margin w3-xlarge">Contact me: <a href=mailto:redeyedmetic@gmail.com" style="color:#0057b7">redeyedmetic@gmail.com</a></p>
</div>

<footer class="w3-container w3-padding-32 w3-center w3-opacity">  
  <!--div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div-->
 <h4>Scraping from <a href="https://www.reddit.com/r/ukraine/" style="color:rgb(255, 70, 70)">Reddit</a></h4>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
