<!DOCTYPE html>
<html lang="en">
<head>
<title>Ukraine Updates</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn-icons-png.flaticon.com/512/197/197572.png" rel="icon" type="image/x-icon" />
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large" style="background-color:	#ffd700">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="/trending" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Trending</a>
    <a href="/updates" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Updates</a>
    <a href="/posts" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Posts</a>
    <a href="/help" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Help</a>
    <a class="w3-bar-item w3-hide-small w3-padding-large" style="height:80%; position:absolute; right:2%;">
      <form method="post"> {% csrf_token %}
          <input type="text" name="search_text" id="search_text" />
          <input type="submit" value="search"/>
      </form>
  </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/trending" class="w3-bar-item w3-button w3-padding-large">Trending</a>
    <a href="/updates" class="w3-bar-item w3-button w3-padding-large">Updates</a>
    <a href="/posts" class="w3-bar-item w3-button w3-padding-large">Posts</a>
    <a href="/help" class="w3-bar-item w3-button w3-padding-large">Help</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 4px; background-color:#0057b7">
  <h4 class="w3-margin w3-jumbo" style="color:#ffd700">Updates</h4>
  <p class="w3-xlarge" style="color:aliceblue">Latest Updates from <a href="https://www.reddit.com/r/ukraine/" style="color:rgb(255, 70, 70)">Reddit</a></p>
</header>

<div class="w3-row-padding w3-light-grey w3-padding-32 w3-container">
  {% for url in urls %}
    <div class="w3-content" style="height:400px">
      <iframe src="https://www.redditmedia.com{{url}}?ref_source=embed&amp;ref=share&amp;embed=true" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none; padding: 8px;" height="100%" width="100%"></iframe>
    </div>
  {% endfor %}
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center w3-opacity">  
  <!--div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div-->
 <h4>Check <a href="https://www.reddit.com/r/ukraine/" style="color:rgb(255, 70, 70)">r/Ukraine</a> for more</h4>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
